In [1]:
#import dependencies
import numpy as np
import pandas as pd
import os

In [2]:
#Use Pandas to read in the measurement and station CSV files as DataFrames.
# filepath = os.path.join(".", "Resources", "hawaii_measurements.csv")
# measurements_df = pd.read_csv(filepath)
# measurements_df.head()
csvfile = "hawaii_measurements.csv"

In [3]:
measurements_df = pd.read_csv(csvfile, dtype=object)

In [4]:
measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [5]:
measurements_df.shape

(19550, 4)

In [6]:
#Inspect the data for NaNs and missing values. You must decide what to do with this data.
measurements_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [7]:
#replacing empty cells with NaN 
measurements_df.replace(r'^\s*$', np.nan, regex=True, inplace = True)

In [8]:
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [9]:
#dropping all rows with NaN values
clean_measurements_df = measurements_df.dropna(axis=0)
clean_measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [10]:
clean_measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [11]:
clean_measurements_df.reset_index(drop=True)
clean_measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [12]:
#Save your cleaned CSV files with the prefix clean_.
clean_measurements_df.to_csv("clean_hawaii_measurements.csv", index=False)

In [13]:
csvfile1 = "hawaii_stations.csv"
stations_df = pd.read_csv(csvfile1, dtype=object)
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [14]:
stations_df.shape

(9, 5)

In [15]:
stations_df.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [16]:
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [17]:
# data does not appear to require cleaning saving as is
stations_df.to_csv("clean_hawaii_stations.csv", index=False)